
<input type="number" [value]="selectedHour" (ngModelChange)="updateTableData()">
<div class="container">
  <div class="list-table" *ngFor="let list of tableData">
    <div class="list-header">
      Lista {{list.listSize}} ({{list.inverse ? "inversa" : "normal"}})
      <div>Saldo: {{list.listBalance > -1 ? "🟩 +"+list.listBalance : "🟥" + list.listBalance}}</div>
      <div>Total de Sinais
        {{list.listElements.length}}</div>
      <table>
        <thead>
          <tr>
            <th>Min</th>
            <th>Previsão</th>
            <th>Real</th>
            <th>Rst</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let listElement of list.listElements">
            <td>{{ listElement.minute }}</td>
            <td>{{ listElement.predictedColor }}</td>
            <td>{{ listElement.resultColors }}</td>
            <td>{{ listElement.result }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <div *ngFor="let item of this.tableData2">
</div> -->